/*clas için . kullanılır
id için # kullanılır */

.text-red{
    color: red;
}

.font-small{
    font-size: 14px;
}

.font-medium{
    font-size: 20px;
}

.font-big{
    font-size: 30px;
}

#first-article{
    font-size: 40px;
}